:host {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  padding: 1rem;

  & > * {
    width: 400px;
  }
}

span[expander-header] {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  
  app-icon {
    color: var(--p-04);
  }
}

