:host {
  display: grid;
  flex-grow: 1;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'color font size'
    'editor editor editor';
  gap: 1rem;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;

  .color-container {
    border: 1px solid var(--color-option);
    color: var(--color-option);
    padding: 5px;
    border-radius: 4px;
    background-color: var(--n-00);
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      background-color: color-mix(in srgb, var(--color-option), var(--n-00) 70%);
    }

    &.chosen {
      background-color: var(--color-option);
      color: var(--n-00);
    }
  }

  .colors-area {
    grid-area: color;
  }

  .fonts-area {
    grid-area: font;
  }

  .sizes-area {
    grid-area: size;
  }

  .editor-area {
    grid-area: editor;
    display: grid;

    textarea {
      resize: none;
      border: 1px solid var(--n-30);
      border-radius: 0.5rem;
      background-color: var(--n-00);
      padding: 0.9rem;
      line-height: 1.5;
    }
  }
}
