:host {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .field {
        border: 1px solid gray;
        background-color: rgb(231, 231, 231);
        width: 200px;
        height: 200px;
        position: relative;

        .ball {
            position: absolute;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: rgb(104, 104, 104);
        }

    }

    .second {
        background: radial-gradient(circle at var(--mouse-x) var(--mouse-y), white, black);
    }
}